.full-img {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 976px;
}
.full-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

nav { /* Safari */
  transition: background-color 0.2s ease-in;
}

.menu-active {
  background-color: #FFFFFF !important;
}

.naslov {
  margin-top: 264px;
}
.naslov div div {
  text-align: center;
  grid-column: 3/span 8;
}

u {
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}

u::before {
  content: "";
  position: absolute;
  height: 16px;
  background: #FC6536;
  z-index: -1 !important;
  width: 100%;
  top: 100%;
  margin-top: -21px;
}

.underline-menu::before {
  margin-top: 0px;
}

.text {
  z-index: 2;
  margin-top: 256px;
}
.text div {
  row-gap: 72px;
}
.text div div {
  grid-column: 3/span 8;
}
.text div div .pspread {
  color: #626262;
}
.text div div h3, .text div div h6 {
  margin-bottom: 16px;
}

.text-reduced {
  margin-top: -16px;
}

.prituzba {
  margin-top: 96px;
}

.prituzba-box {
  background-color: #F8F8F8;
  grid-column: 3/span 8;
  padding: 48px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  row-gap: 24px;
}
.prituzba-box div {
  display: flex;
}
.prituzba-box .psmall {
  color: #626262;
  margin-left: 8px;
}

.prituzba-box-input-1 {
  grid-gap: 24px;
}
.prituzba-box-input-1 div {
  position: relative;
  width: calc(50% - 12px);
  flex-direction: column;
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.prituzba-box-input-1 .error-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  top: calc(100% + 8px);
  /* Primary/Orange */
  position: absolute;
  width: auto;
  display: none;
  padding: 0px;
  background-color: transparent;
  border-radius: 4px;
  color: #FC6536;
}
.prituzba-box-input-1 div[error] {
  margin-bottom: 8px;
}
.prituzba-box-input-1 div[error] .error-text {
  display: flex;
}
.prituzba-box-input-1 div[error] label {
  color: #FC6536;
}
.prituzba-box-input-1 div[error] input::-moz-placeholder {
  color: #FC6536;
  opacity: 1;
}
.prituzba-box-input-1 div[error] input::placeholder {
  color: #FC6536;
  opacity: 1;
}
.prituzba-box-input-1 input {
  height: 24px;
  width: 100%;
  z-index: 1;
  padding: 0px;
  padding-left: 8px;
  border: 0px;
}

textarea:focus, input:focus {
  outline: none;
}

input, textarea {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F141E;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F141E;
  opacity: 0.2;
}

input::placeholder, textarea::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0F141E;
  opacity: 0.2;
}

label {
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 2;
  padding-left: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #0F141E;
  opacity: 0.8;
}

.prituzba-box-input-2 {
  padding-left: 16px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.prituzba-box-input-2 label {
  padding: 0;
}

textarea {
  width: 100%;
  height: 120px;
  resize: vertical;
  border: 0px;
  padding: 0;
}

.checkbox {
  display: flex;
  align-items: center;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
}

.active img {
  display: block;
}

button {
  margin-top: 8px;
}

@media only screen and (max-width: 950px) {
  .naslov div div {
    grid-column: 2/span 10;
  }
  .text div div {
    grid-column: 2/span 10;
  }
  .prituzba-box {
    grid-column: 2/span 10;
  }
  .prituzba-box-input-1 {
    flex-direction: column;
  }
  .prituzba-box-input-1 div {
    width: calc(100% - 16px);
  }
}
@media only screen and (max-width: 650px) {
  .naslov {
    margin-top: 232px;
  }
  .naslov div div {
    grid-column: span 12;
  }
  u::before {
    height: 8px;
    width: 100%;
    top: 100%;
    margin-top: -10px;
  }
  .text {
    margin-top: 176px;
  }
  .text div {
    row-gap: 32px;
  }
  .text div div {
    grid-column: span 12;
  }
  .text-reduced {
    margin-top: 24px;
  }
  .prituzba {
    margin-top: 64px;
  }
  .prituzba-box {
    grid-column: span 12;
    padding: 24px;
  }
}/*# sourceMappingURL=pisani_prigovor.css.map */