.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 1px;
}

.inverted h4 {
  color: #FFFFFF;
}
.inverted h2 {
  color: #FFFFFF;
}
.inverted h5 {
  color: #FFFFFF;
}
.inverted .psmall {
  color: #F1F1F1;
}
.inverted .pspread {
  color: #F1F1F1;
}
.inverted .pbold {
  color: #FFFFFF;
}
.inverted .plarge {
  color: #F1F1F1;
}
.inverted .paralax {
  background-color: #0F141E;
}

.imgnaslov {
  z-index: -3;
  position: sticky;
  transform-style: flat;
  transform: translateZ(-3px) scale(4.1);
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
}
.imgnaslov img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.imgnaslov .tint {
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100vh;
}

.imgnaslov_content {
  transform-style: preserve-3d;
  z-index: -2;
  position: absolute;
  top: 50.9vh;
  height: 58vh;
  width: 100%;
}
.imgnaslov_content h1 {
  color: #FFFFFF;
  grid-column: span 6;
}
.imgnaslov_content div {
  transform: translateZ(-2px) scale(3);
}

.paralax {
  background-color: #FFFFFF;
  position: relative;
  z-index: -1;
  transition: 0.5s;
}

.underline-naslov {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.underline-naslov::before {
  content: "";
  position: absolute;
  height: 16px;
  background: #FC6536;
  z-index: -1 !important;
  width: 100%;
  top: 100%;
  margin-top: -19px;
}

.paragraph-text {
  background-color: #0F141E;
  padding-top: 140px;
}
.paragraph-text .plarge {
  color: #F1F1F1;
  grid-column: span 6;
}
.paragraph-text h4 {
  grid-column: 8/12;
  color: #F1F1F1;
  margin-left: 23px;
}

.big-img {
  grid-column: span 12;
  position: relative;
}

.big-img-holder {
  padding-top: 51.21%;
}
.big-img-holder img {
  border-radius: 16px;
}

.img_quote {
  padding-top: 120px;
  background-color: #0F141E;
  z-index: -1;
  position: relative;
}

.quote {
  grid-column: 3/span 8;
  margin-top: 216px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
  text-align: center;
  color: #F1F1F1;
}

.underline-quote {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.underline-quote::before {
  content: "";
  position: absolute;
  height: 4px;
  background: #FC6536;
  z-index: -1;
  width: 100%;
  top: 100%;
  margin-top: -6px;
}

.img-grid {
  background-color: #0F141E;
  padding-bottom: 104px;
  transition: 0.5s;
  padding-top: 178px;
  margin-bottom: 240px;
}
.img-grid h6 {
  margin-top: 40px;
  color: #F1F1F1;
}
.img-grid .pspread {
  margin-top: 16px;
  color: #F1F1F1;
}

.img-grid-half {
  grid-column: 2/7;
  margin-top: 38px;
}

.offset {
  margin-top: 216px;
  grid-column: 8/13;
  margin-left: -40px;
  padding-right: 40px;
}

.img-grid-img {
  width: 100%;
  position: relative;
}

.img-grid-img-holder {
  padding-top: 69.01%;
}
.img-grid-img-holder img {
  border-radius: 16px;
}

.img-heading {
  margin-top: 240px;
}
.img-heading h2 {
  grid-column: span 5;
}
.img-heading .pspread {
  grid-column: 8/13;
  margin-top: 8px;
}
.img-heading .big-img {
  margin-top: 88px;
}
.img-heading .underline-naslov::before {
  top: 100%;
  margin-top: -15px;
}

.map-s {
  margin-top: 160px;
}
.map-s h3 {
  grid-column: 2/span 4;
  margin-bottom: 24px;
}
.map-s div div {
  margin-top: 48px;
  grid-column: 2/span 5;
}
.map-s .second {
  grid-column: 7/13;
}
.map-s .map {
  grid-column: 2/span 10;
  margin-top: 88px;
  position: relative;
}
.map-s .plarge {
  margin-top: 8px;
  color: #626262;
}

.map-holder {
  padding-top: 44.52%;
  margin-top: 0 !important;
}
.map-holder img {
  border-radius: 16px;
}

.location {
  margin-top: 13.5px !important;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.location img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 950px) {
  .quote {
    grid-column: span 12;
    margin-top: 120px;
  }
  .img-grid {
    padding-top: 56px;
  }
  .img-grid-half {
    grid-column: 3/span 8;
    margin-top: 64px;
  }
  .offset {
    grid-column: 3/span 8;
    margin-left: 0;
    margin-top: 64px;
    padding-right: 0;
  }
  .img-grid-img-holder {
    padding-top: 80%;
  }
  .img-heading h2 {
    grid-column: span 7;
  }
  .map-s h3 {
    grid-column: span 7;
  }
  .map-s div div {
    grid-column: span 6;
  }
  .map-s .map {
    grid-column: span 12;
  }
  .location {
    margin-top: 0px !important;
  }
}
@media only screen and (max-width: 650px) {
  .underline-naslov::before {
    height: 10px;
    width: 100%;
    margin-top: -10px;
  }
  .paragraph-text .plarge {
    grid-column: span 2;
  }
  .paragraph-text h4 {
    grid-column: span 2;
    margin-left: 0px;
    margin-top: 32px;
  }
  .big-img-holder {
    padding-top: 100%;
  }
  .quote {
    font-weight: 500;
    font-size: 23px;
    line-height: 48px;
  }
  .img-grid-half {
    grid-column: span 2;
  }
  .offset {
    grid-column: span 2;
  }
  .img-heading {
    margin-top: 140px;
  }
  .img-heading .underline-naslov::before {
    margin-top: -8px;
  }
  .img-heading h2 {
    grid-column: span 12;
  }
  .img-heading .pspread {
    grid-column: span 12;
  }
  .img-heading .big-img {
    margin-top: 56px;
  }
  .map-s {
    margin-top: 104px;
  }
  .map-s h3 {
    grid-column: span 12;
    margin-bottom: 8px;
  }
  .map-s div div {
    margin-top: 32px;
    grid-column: span 12;
  }
  .map-s .second {
    grid-column: span 12;
  }
  .map-s .map {
    grid-column: span 12;
  }
  .location {
    margin-top: 13.5px !important;
  }
  .map-holder {
    padding-top: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .paragraph-text {
    padding-top: 40px;
  }
  .img_quote {
    padding-top: 104px;
  }
  .big-img-holder {
    padding-top: 139.44%;
  }
  .img-grid {
    padding-bottom: 80px;
    padding-top: 40px;
  }
  .img-grid h6 {
    margin-top: 24px;
  }
  .img-grid-img-holder {
    padding-top: 107.64%;
  }
  .quote {
    margin-top: 104px;
  }
  .img-heading {
    margin-top: 104px;
  }
  .map-s .map {
    margin-top: 40px;
  }
  .map-holder {
    padding-top: 139.44%;
  }
}/*# sourceMappingURL=servis.css.map */